
HTML{

  background-color: rgb(12, 13, 51);

}

.App{

  width: 100vw;
  height: 100vh;

  display: flex;

  justify-content: center;

  align-items: center;

}

.table{

  display: grid;

  width: 95vw;
  height: 95vw;
  
  gap: 3px;

}

.table .pixel{
  
  border-radius: 3px;

  background-color: rgb(75, 77, 124);

}

.table .pixel-speed{

  background-color: rgb(38, 184, 99);

}
.table .pixel-mutan{

  background-color: rgb(172, 38, 184);

}
.table .pixel-heavy{

  background-color: rgb(184, 38, 38);

}
.table .pixel-psycho{

  background-color: rgb(38, 174, 184);

}
.table .pixel-guardian{

  background-color: rgb(184, 104, 38);

}