
HTML{

  background-color: rgb(12, 13, 51);

}

.App{

  width: 100vw;
  height: 100vh;

  display: flex;

  justify-content: center;

  align-items: center;

  flex-direction: column;

  zoom: normal;

  font-family: sans-serif;

}

*, *::before, *::after{

  box-sizing: border-box;

}

.table{

  display: grid;

  width: 95vw;
  height: 95vw;
  
  gap: 3px;

}

.table .pixel{
  
  border-radius: 3px;

  background-color: rgb(75, 77, 124);

  cursor: pointer;

}

.start{

  color: white;

  font-weight: bold;

  font-size: 2em;

  background-color: black;

  padding: 10px;

  width: 70%;

  display: flex;

  justify-content: center;

  align-items: center;

}